@import '../variables';

.info-card {
    max-width: 420px;
    width: 100%;
    background-color: $WHITE;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    @include box-shadow();

    &.large {
        max-width: 540px;
    }

    .info-card-content {
        .link {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .icon {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;

                svg {
                    height: 32px;
                }
            }

            .content {}
        }
    }

    .info-card-footer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            outline: none !important;
            border: 1px solid $LIGHT_BLACK;
            background-color: $LIGHT_BLACK;
            cursor: pointer;
            ;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &.active {
                background-color: transparent;
            }
        }
    }
}