@import '../variables';

.info-card {
    max-width: 430px;
    width: 100%;
    background-color: $WHITE;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;

    .info-card-footer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            outline: none !important;
            border: 1px solid $LIGHT_BLACK;
            background-color: $LIGHT_BLACK;
            cursor: pointer;
            ;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &.active {
                background-color: transparent;
            }
        }
    }
}