@import './variables';

.navbar {
    width: 100%;
    min-height: 80px;
    background: transparent;
    position: fixed;
    z-index: 999999999;
    color: #000000 !important;

    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1330px;
        margin: 0 60px;


        img {
            max-height: 40px;
        }

        ul {
            display: flex;
            flex-direction: row;
            text-align: center;
            list-style: none;

            li {
                margin: 0 10px;
                min-height: 80px;
                display: flex;
                align-items: center;

                a {
                    padding: 28px 15px;
                    text-decoration: none;
                    transition: 0.4s;
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    // color: $WHITE;

                    &::after {
                        background: none repeat scroll 0 0 transparent;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $LIGHT_GRAY;
                        transition: width 0.4s ease 0s, left 0.4s ease 0s;
                        width: 0;
                    }

                    &:hover::after {
                        width: 80%;
                        left: 10%;
                    }
                }
            }
        }
    }

    a.button,
    .button-nav {
        // border: 1px solid $LIGHT_GRAY;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 5px 15px;
        font-size: 16px;
        transition: .4s;
        // color: $LIGHT_GRAY;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: $LIGHT_GRAY;
            color: $LIGHT_BLACK;
        }
    }

    &.active {
        background-color: $LIGHT_GRAY;
        @include box-shadow();

        a {
            color: $LIGHT_BLACK !important;

            &::after {
                background: $LIGHT_BLACK !important;
            }

            &.button,
            .button-nav {
                border: 1px solid $LIGHT_BLACK;
                color: $BLACK !important;

                &:hover {
                    background-color: $LIGHT_BLACK;
                    color: $LIGHT_GRAY !important;
                }
            }
        }
    }
}