.placeholder {
	background-image: linear-gradient(60deg, #d8d8d8, #b9b9b9, #a0a0a0, #8d8d8d, #696969, #626262) !important;
	background-size: 300% !important;
	animation: gradient 1s infinite alternate !important;
}
