.quill {
    .ql-toolbar {
        &.ql-snow {
            border: 1px solid $GRAY;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    .ql-container {
        &.ql-snow {
            border: 1px solid $WHITE;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }

    .ql-editor {
        h1 {
            color: $BLACK;
            text-align: left;
            font-size: 26px !important;
            line-height: 34px;
        }

        h2 {
            color: $BLACK;
            text-align: left;
            font-size: 22px !important;
            line-height: 30px;
        }

        h3 {
            color: $BLACK;
            font-size: 18px !important;
            line-height: 26px;
        }

        ul,
        ol {

            li {
                margin-top: 10px;
            }
        }
    }
}