@import './style/variables';
@import './style/nav';
@import './style/mainpage';
@import './style/components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: $LIGHT_GRAY;
    // height: 200vh;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: $REGULAR;
    color: $BLACK;
}

a {
    font-size: 16px;
    font-weight: $REGULAR;
    color: $LIGHT_BLACK;
    cursor: pointer;
}

strong {
    font-weight: $BOLD;
}

em {
    font-weight: $LIGHT;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-size: 32px;
    line-height: 48px;
    color: $LIGHT_GRAY;
}

h2 {
    font-size: 40px;
    line-height: 60px;
    color: $LIGHT_BLACK;
}

h1 {
    font-size: 48px;
    line-height: 72px;
}

.scroll {
    background-color: blue;
}